@charset "UHF-8";
@font-face {
    font-family: 'Idroid';
    src: url(../fontes/idroid.otf) format(opentype);
}
@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format(opentype);
    font-weight: normal;
}
:root {/* 
    Tipo de variantes em CSS3
    */    
    --cor1: #0D1117;
    --cor2: #F78166;
    --cor3: rgb(228, 228, 228);
    --cor4: #34675C;
    --cor5: #A3CCBF;

    --font-padrao: Arial, verdana, helvetica,san-serif;
    --font-destaque: 'Cooper Black', cursive;
    --font-android: 'Android', cursive;
}
* {
    margin: 0px;
    padding:0px;
}
body {
    background-image: url(../img/estacao-ferroviaria-de-joinville.jpeg);
    background-color: var(--cor4); /*#3dda84c9*/
    font-family: var(--font-padrao);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    margin: auto;
}
header {
    background-image: url(../img/EntradaJoinvlllecortada.jpg);
    background-position: bottom center;
    background-size: cover;
    background-color: var(--cor3);
    color: var(--cor1);
    
    border-bottom: 1px solid black;
}
.logo {
    position: relative;
    bottom: 10px;
    
}
img.logo
nav {
    text-align: left;
}
nav>a {
    padding: 0px 5px;
    text-decoration: none;
    font-weight: bolder;
    color: var(--cor5);
}
nav>a:hover {
    background-image: linear-gradient(to bottom, #44a570, #42be7a);
    transition-duration: 2s;
    border-radius: 3px;
    text-decoration: underline;
}
article {
    background-color: var(--cor3);
    color: var(--cor1);
    max-width: 900px;
    padding: 10px;
    margin: left;
}
main {
    background-color: #e9fff3;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    max-width: 900px;
    margin: auto;
}
main h1 {
    font-size: 36px;
    color: var(--cor1);
}
h1 {
    font-family: var(--font-destaque);
    margin-bottom: 15px;
    padding: 10px;
}
h2 {
    font-family: var(--font-destaque);
    font-size: 24px;
    color: black;
}
p {
    text-align: justify;
    text-decoration: dashed;
    text-indent: 40px;
    font-size: 14px;
}
picture {
    float: left;
    margin: 5px;
}
iframe {
    display:  block;
    margin: auto;
    width: auto;
}
aside {
    background-color: aquamarine;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 10px 10px 0px 0px;
    padding-bottom: 15px;
    margin: 10px;
}
aside>p {
    margin: 10px;
}
aside>li {
    color: black;
    margin: 10px;
}
li>abbr {
    color: black;
    text-decoration: none;
}
li.open {
    list-style: url('imagens/2714-2.png');
}
a.art {
    text-decoration: none;
    color: #3DDA84;
}
footer {
    background-color: #1A5C38;
    font-size: 11px;
    text-align: center;
    color: #e9fff3;
    margin: 0px;
}